body{
    margin:0;
    overflow:hidden;
}

.quiz-page{
    width:100vw;
    height:100vh;

    background-image:
    linear-gradient(
        rgba(0,0,0,.4),
        rgba(0,0,0,.4)
    ),
    url("/static/images/gift.jpg");

    background-size:cover;
    background-position:center;

    position:relative;

    color:white;
    text-align:center;
}

.logo{
    position:absolute;
    top:60px;
    left:50%;
    transform:translateX(-50%);

    font-size:30px;
    letter-spacing:8px;
}

.step{
    position:absolute;
    top:180px;
    left:50%;
    transform:translateX(-50%);

    font-size:22px;
}

.question{
    position:absolute;
    top:230px;
    left:50%;
    transform:translateX(-50%);

    font-size:28px;
}

.choices{
    position:absolute;
    bottom:95px;
    left:50%;
    transform:translateX(-50%);

    display:flex;
    gap:25px;
}

.choice-btn{
    width:120px;
    height:50px;

    background:transparent;
    color:white;

    border:1.5px solid white;
    border-radius:8px;

    font-size:18px;
    cursor:pointer;
}

.choice-btn.active{
    background:rgba(255,255,255,0.35);
    border:2px solid white;
    box-shadow:0 0 12px rgba(255,255,255,0.4);
}

.back-btn{
    position:absolute;
    left:35px;
    bottom:30px;

    width:120px;
    height:45px;

    background:transparent;
    color:white;

    border:1.5px solid white;
    border-radius:8px;
}

.next-btn{
    position:absolute;
    right:35px;
    bottom:30px;

    width:120px;
    height:45px;

    background:transparent;
    color:white;

    border:1.5px solid white;
    border-radius:8px;
}